body{
	font-family:"Microsoft Yahei";
}

/*整体样式，上中下三部分*/
.main_wrap{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:gold;
}

.header{
	height:50px;
	background-color:#37ab40;
	position:relative;
}

.center_wrap{
	position:absolute;
	left:0px;
	right:0px;
	top:50px;
	bottom:50px;
	background-color:#efefef;
	overflow-x:hidden;
	overflow-y:auto;
}

.footer{
	position:absolute;
	width:100%;
	height:50px;
	left:0px;
	bottom:0px;
	background-color:#ffffff;
}

/*顶部样式*/
.header .logo{
	/*因为logo图都是放大1倍图片，所以要对宽高进行除2*/
	width:89px;
	height:36px;
	display:block;
	margin:7px auto 0px;
}

/*图片有一个特性，如果给一边的宽高，另一边可以根据比例自动缩放，只需要给你个边的值就可以，比如宽或高*/
.header .logo img{
	/*宽度直接引用父级的宽度使用*/
	width:100%;
}

.header .search{
	/*因为图标要进行定位，所以父级也要进行定位*/
	/*因为图都是放大一倍的，所以都要除2*/
	position:absolute;
	width:27px;
	height:27px;
	top:12px;
	right:15px;
	background:url(../images/icons.png) left top no-repeat;
	background-size:60px 840px;
}

/*中间部分*/
/*注：因为slide是div标签，是一个块元素，不给宽度就是父级的100%
因为slide就是等于父级的宽度，img是slide的子级，所以img宽度的100%，
就是父级的100%*/
.center_wrap .slide img{
	width:100%;
}

/*使用padding将上面撑下来，但总高度要剪掉padding的值*/
.center_wrap .menu{
	height:173px;
	background-color:#ffffff;
	margin-top:10px;
	padding-top:12px;
}

/*使用流体布局，宽度按照百分比划分*/
.menu li{
	width:25%;
	height:81px;
	float:left;
}

.menu li a{
	display:block;
	/*调试浏览器中不同的手机尺寸，观察页面是否出现裁切，如果有，可以通过适当加大点宽度解决*/
	width:56px;
	height:56px;
	background:url(../images/icons.png) -1px -60px no-repeat;
	background-size:60px 840px;
	margin:0px auto;
}

.menu li h2{
	height:25px;
	font:bold 13px/25px "Microsoft Yahei";
	text-align:center;
	color:#666666;
}

.menu li:nth-child(2) a{
	background-position:left -120px;
}
.menu li:nth-child(3) a{
	background-position:left -180px;
}
.menu li:nth-child(4) a{
	background-position:left -240px;
}
.menu li:nth-child(5) a{
	background-position:left -300px;
}
.menu li:nth-child(6) a{
	background-position:left -360px;
}
.menu li:nth-child(7) a{
	background-position:left -420px;
}
.menu li:nth-child(8) a{
	background-position:left -480px;
}

